<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medisineringstid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Medisiner</h2>

        {% include 'flash_messages.html' %}

        <div class="menu">
            {% for day in days %}
                <a href="{{ url_for('medication.medication_day', medication_id=day.id) }}">
                    <button class="menu-item">
                        {{ day.day }}
                    </button> 
                </a>
            {% endfor %}
        </div>

        <!-- Tilbake-knapp -->
        <a href="{{ url_for('main.home') }}">
            <button style="margin-top: 10px;">Tilbake</button>
        </a>
    </div>

</body>
</html>
