<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lag passord</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Lag passord</h2>

        {% include 'flash_messages.html' %}

        <div class="menu">
            <form action="{{ url_for('auth.register') }}" method="POST">
                
                <select class="menu-item" name="id" required>
                    <option value="" disabled selected>Velg bruker</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>
                
                <input type="password" class="menu-item" id="password" name="password" placeholder="Passord" required>
                
                <button type="submit" class="menu-item">Lagre passord</button>
            </form>
        </div>
        
        <a href="{{ url_for('auth.login') }}">
            <button>Innlogging</button>
        </a>

    </div>

</body>
</html>
