<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huskeliste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Huskeliste</h2>

        {% include 'flash_messages.html' %}

        <div class="menu">
            {% for task in tasks %}
                    <!-- Lenke til detaljvisning for hver oppgave -->
                    <a href="{{ url_for('tasks.task_detail', task_id=task.id) }}">
                        <button class="menu-item {% if task.scheduled %}enabled{% else %}disabled{% endif %}">
                            {{ task.name }}
                        </button> 
                    </a>
            {% endfor %}
        </div>

        <!-- Tilbake-knapp -->
        <a href="{{ url_for('main.home') }}">
            <button class="task-btn">Tilbake</button>
        </a>
    </div>
    
</body>
</html>
