* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;

}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.menu-item {
    background-color: #56D1FF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 60px;
}

.menu-item:hover {
    background-color: #138496;
}

.menu-item span {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    display: block;
    flex-grow: 1;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    flex-shrink: 0; /* Hindrer ikonet i å krympe */
}

input.menu-item  {
    background-color: white;
    color: black;
    font-size: 24px;
}

input.menu-item:hover {
    background-color: #ffffff;
}

input[type="time"] {
    font-size: 34px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center; /* Sentrerer innholdet i knappen */
    width: 100%;
    padding: 15px;
    background-color: #56D1FF;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #138496;
}

select.menu-item {
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}

select.menu-item:hover {
    background-color: #ffffff;
}

.message
{
    color: black;
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;

}

.success
{
    color: green;
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;
}

.error
{
    color: red;
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;
}
