<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrollpanel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">

        <h2>Kontrollpanel</h2>

        <div class="menu">
            <a href="{{ url_for('autodoorlock.show_lock_page') }}" class="menu-item">
                <img src="{{ url_for('static', filename='img/door_icon.png') }}" alt="Dørlås" class="icon">
                <span>Dørlås</span>
            </a>
            <a href="{{ url_for('medication.show_medication_page') }}" class="menu-item">
                <img src="{{ url_for('static', filename='img/med_icon.png') }}" alt="Medisiner" class="icon">
                <span>Medisiner</span>
            </a>
            <a href="#" class="menu-item">
                <img src="{{ url_for('static', filename='img/todo_icon.png') }}" alt="Huskeliste" class="icon">
                <span>Huskeliste</span>
            </a>
            <a href="#" class="menu-item">
                <img src="{{ url_for('static', filename='img/food_icon.png') }}" alt="Handleliste" class="icon">
                <span>Handleliste</span>
            </a>
        </div>

        <a href="{{ url_for('auth.logout') }}">
            <button>Logg ut</button>
        </a>
    </div>
</body>
</html>
