<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrollpanel</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Automatisk låsetid</h2>
        <div class="time-display">10:50</div><br>
        <button>Endre låsetid</button><br>
        <button>Lås dør</button><br>
        <button>Lås opp dør</button><br>
        <button onclick="backButton()">Tilbake</button>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>
