<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrollpanel</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Automatisk låsetid</h2>
        <b>10:50</b><br>
        <button>Endre låsetid</button><br>
        <button>Lås dør</button><br>
        <button>Lås opp dør</button>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>
