<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innlogging</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Innlogging</h2>
        <input type="text" id="username" placeholder="Brukernavn"><br>
        <input type="password" id="password" placeholder="Passord"><br>
        <button onclick="login()">Logg Inn</button><br>
        <img src="qrcode.png" alt="QR Kode"><br>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>
