<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrollpanel</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Kontrollpanel</h1>
        <button onclick="goTo('lock.html')">Dørlås</button><br>
        <button onclick="goTo('medication.html')">Medisiner</button><br>
        <button onclick="goTo('.html')">Huskeliste</button><br>
        <button onclick="goTo('handleliste.html')">Handleliste</button><br>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>
