<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Ny bruker</h2>
        <div class="menu">
            <form action="{{ url_for('auth.register') }}" method="POST">

                <label for="username">Brukernavn:</label>
                <input type="text" id="username" name="username" placeholder="Brukernavn" required>
                
                <label for="password">Passord:</label>
                <input type="password" id="password" name="password" placeholder="Passord" required>
                
                <button type="submit">Lag bruker</button>
            </form>
        </div>
        
            <a href="{{ url_for('auth.login') }}">
                <button>Innlogging</button>
            </a>

    </div>
</body>
</html>
